[Unit]
Description=odioctl web UI (components, DAC)
Documentation=https://github.com/b0bbywan/odioctl
ConditionUser=!root
ConditionUser=!@system
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/odioctl web
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
